*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Prompt', sans-serif;
}
body{
background-color: #2D3430;;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1248px;
    padding-right: 24px;
    padding-left: 24px;
    margin-bottom: 30px;
}
.logo img{
    height: 52px;
    width: 120px;
}
.navbar-links a{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
.navbar-tumbler img{
    height: 34px;
    width: 34px;
}
.navbar-tumbler{
display: flex;
align-items: center;
gap: 8px;
}
.tg-icon{
border-radius: 18px;
border: 1px solid #FFF;
background: rgba(217, 217, 217, 0.22);
backdrop-filter: blur(2px);
display: flex;
width: 68px;
height: 34px;
align-items: center;
justify-content: space-between;
width: 68px;
}
.tg-icon svg{
margin: 10px 5px 9px 13px; 
}
.navbar{
    width: 506px;
    display: flex;
    justify-content: space-between;
}
.navbar-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}
.herosection-container{
    max-width: 1248px;
    margin: auto;
    padding-right: 24px;
    padding-left: 24px;
}
.herosection-first-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rectangle{
    height: 5px;
    background-color: #fff;
    display: block;
    width: clamp(16px, 17vw, 268px);;
    margin-right: 13px;
}
.herosection-second-block-p{
    font-size: clamp(16px, 5vw, 70px);
    font-style: normal;
    font-weight: 400;
    color: #FFF;
}
.herosection-second-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -160px;
}
.num{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    margin-top: -10px;
}
.right-align-text{
    color: #FFF;
    text-align: right;
    font-size: clamp(16px, 5vw, 70px);
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.interior-design{
    font-size: 16px;
font-style: normal;
font-weight: 400;
color: #797979;
margin-top: -220px;
}
.photo{
    background-image: url(../images/meteorit.png);
    background-size: cover;
    width: 633px;
    height: 537px;
    background-repeat: no-repeat;

}
.right-align-text{
    margin-bottom: 150px;
}
.new-arrivals{
    max-width: 429px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
}
.new-arrivals-first{
    width: 429px;
    display: flex;
    justify-content: space-between;
}
.new-arrivals-first-p{
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    color: #FFF;   
}
.new-arrivals-second-p{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #FFF; 
text-align: right;
}



.slider {
    position: relative;
    max-width: 700px;
    height: 420px;
    margin: 50px auto 0;
    user-select: none;
    touch-action: pan-y;
    color: #fff;
  }
  
  
  .slider-list {
    width: 700px;
    height: 420px;
    overflow: hidden;

  }
  
  .slider-list.grab {
    cursor: grab;
  }
  
  .slider-list.grabbing{
    cursor: grabbing;
  }
  
  .slider-track {
    display: flex;
  }
  
  .slide {
    width: 330px;
    height: 420px;
    margin-right: 40px;

  }
  
  .slider-arrows {
    margin-top: 15px;
    text-align: center;
    
  }
  
  .next, .prev {
    background: none;
    border: none;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
  }
  
  .next.disabled, .prev.disabled {
    opacity: .25;
    pointer-events: none;
  }
  .slide-flex{
    display: flex;
    height: 420px;
    align-items: center;

  }

  .container img{
    width: 330px;
    height: 420px;
  }
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.view-all a{
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  
}
.paragraph{
  color: #FFF;

/* BODY1 */
font-family: Prompt;
font-size: 16px;
font-style: normal;
font-weight: 400;
}
.designed-for-you{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.designed-for-you-flex{
  display: flex;
  justify-content: space-between;
  width: 570px;
  color: #FFF;
}
.designed-for-you-flex h2{
  font-size: 60px;
font-style: normal;
font-weight: 400;
}
.align-text{
  width: 565px;
  color: #FFF;
  font-size: 16px;
font-style: normal;
font-weight: 400;
}